* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard-Regular';
}

.wrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.page {
  height: 100vh;
}
button {
  cursor: pointer;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
ul, li {
  list-style: none;
}
header {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
header .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.btn_mode {
  padding: 10px;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 7px;
  box-sizing: border-box;
}
@media (max-width: 480px) {
  header {
    height: 55px;
  }
}


/* 다크모드 */
.darkmode { 
  background: #000;
  color: #fff !important;
}
.darkmode .logo a {
  color: #fff;
}
.darkmode .btn_mode {
  border: 1px solid #fff;
  color: #fff;
}
@media (max-width: 480px) {
  .logo a {
    font-size: 16px;
  }
  .btn_mode {
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
  }
}


/* 검색창 */
.search-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.search-inner .int {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0 10px;
  background-color: transparent;
  border: 1px solid #858585;
  border-radius: 5px;
  background-color: #fff;
  color: hsl(200, 15%, 8%);
  box-sizing: border-box;
}

.search-inner .btn_search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 35px;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  margin-left: 7px;
  font-size: 14px;
  color: #fff;
  box-sizing: border-box;
}
@media (max-width: 480px) {
  .search-inner .int {
    width: calc(100% - 77px);
  }
}


/* 리스트 */
.content_list {
  display:flex; 
  flex-flow:row wrap; 
  justify-content:flex-start; 
  align-items:stretch;
}
.content_inner {
  width:calc((100% - 45px) / 4 ); 
  margin-right: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, .15);
  box-sizing: border-box;
}
.content_list .content_inner:nth-child(4n) {margin-right:0;}
.content_img {
  width: 100%;
  height: 190px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  padding: 20px;
  box-sizing: border-box;
}
.content_info li {
  display: block;
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
}
.content_info li:first-child {
  margin-top: 0;
  font-weight: 500;
}
.content_info li b {
  font-weight: 600;
}
@media (max-width: 900px) {
  .content_inner {
    width:calc((100% - 20px) / 3 ); 
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .content_list .content_inner:nth-child(4n) {margin-right:10px;}
  .content_list .content_inner:nth-child(3n) {margin-right:0;}
  .content_img {
    height: 150px;
  }
}
@media (max-width: 480px) {
  .content_inner {
    width:calc((100% - 10px) / 2 );
  }
  .content_list .content_inner:nth-child(2n) {margin-right:0px;}
  .content_list .content_inner:nth-child(4n) {margin-right:0px;}
  .content_list .content_inner:nth-child(3n) {margin-right:10px;}
  .content_list .content_inner:nth-child(6n) {margin-right:0px;}
  .content_img {
    height: 120px;
  }
}
@media (max-width: 320px) {
  .content_inner {
    width: 100%;
    margin-right: 0;
  }
  .content_list .content_inner:nth-child(3n) {margin-right:0px;}
  .content_img {
    height: 150px;
  }
}








